@page "/viewadults"
@using Models
@using FileData
@using System.ComponentModel.Design

<h1>List of Adults</h1>

<div class="container">
    
    <div class="form-group">
        Search: <Input type="text" @oninput="@(arg => FilterAdults(arg))"/>
    </div>
    
    
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Hair Colour</th>
            <th>Eye Colour</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Sex</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in adults) {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.JobTitle</td>
                <td>@person.HairColor</td>
                <td>@person.EyeColor</td>
                <td>@person.Age</td>
                <td>@person.Weight</td>
                <td>@person.Height</td>
                <td>@person.Sex</td>
            </tr>
        }
        </tbody>
    </table>
</div>


@code {
    private static FileContext fileContext = new FileContext();
    private IList<Adult> adults = fileContext.Adults;


    private void FilterAdults(ChangeEventArgs changeEventArgs) {
        String id = changeEventArgs.Value.ToString();
        IList<Adult> newAdults = new List<Adult>();
        if (string.IsNullOrEmpty(id)) {
            adults = fileContext.Adults;
        }
        else {
            foreach (var person in adults) {
                if (person.ToString().ToLower().Contains(id)) 
                {
                    newAdults.Add(person);
                }
            }
            adults = newAdults;
        }
        }
    }

